.Pokemon {
  height: 125px;
  width: 125px;
}
.Container-Pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Container-Pokemon-Tier {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* border-bottom: solid black 2px; */
  margin-bottom: 0;
}
header {
  text-align: center;
  background: url("https://images2.alphacoders.com/116/thumb-1920-1160159.png");
  color: white;
  background-size: cover;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
a {
  color: white;
}
.Logo {
  width: 300px;
  margin-top: 20px;
}
.Logo-Link {
  cursor: pointer;
}
.Tier {
  text-align: center;
}
.Lane {
  text-align: center;
}
.letterTier {
  margin-right: 25px;
  margin-left: 25px;
}
.backgroundColor {
}