.Pokemon {
  height: 125px;
  width: 125px;
}
.Container-Pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Container-Pokemon-Tier {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 10px;
  border-bottom: #282828 2px solid;
  margin-bottom: 0;
}
header {
  text-align: center;
  background: url("https://images2.alphacoders.com/116/thumb-1920-1160159.png");
  color: white;
  background-size: cover;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
a {
  color: white;
}
.Logo {
  width: 300px;
  margin-top: 20px;
}
.Logo-Link {
  cursor: pointer;
}
.Tier {
  text-align: center;
}
.Lane {
  text-align: center;
}
.letterTier {
  margin-right: 25px;
  margin-left: 25px;
}
.lane {
  height: 100px;
  width: 100px;
}
.descriptionStyling {
  text-align: center;
}
.items {
  height: 100px;
  width: 100px;
}
.name {
  text-align: center;
}
.Container-Build {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.DescriptionPokemon {
  float: left;
  margin-top: -500px;
  padding-right: 20px;
  margin-left: 250px;
  height: 350px;
  width: 350px;
}
@media only screen and (max-width: 1400px) {
  .DescriptionPokemon {
    margin-left: 0;
  }
}
